.row{
  width: 100%;
}
.flex{
  display: flex;

  &.flex-center{
    justify-content: center;
  }
  &.flex-right{
    justify-content: flex-end;
  }
}

.container{
  width: 180px;
}

.button{
  background-color: rgb(235, 235, 235);
  border: 2px solid rgb(121, 121, 121);
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 5px;
  margin: 3px 3px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
