<div class="container">
  <div class="row">
    <app-display></app-display>
  </div>
  <div class="row flex">
    <app-value-button [value]="7"></app-value-button>
    <app-value-button [value]="8"></app-value-button>
    <app-value-button [value]="9"></app-value-button>
    <app-value-button [value]="'-'"></app-value-button>
  </div>
  <div class="row flex">
    <app-value-button [value]="4"></app-value-button>
    <app-value-button [value]="5"></app-value-button>
    <app-value-button [value]="6"></app-value-button>
    <app-value-button [value]="'+'"></app-value-button>
  </div>
  <div class="row flex">
    <app-value-button [value]="1"></app-value-button>
    <app-value-button [value]="2"></app-value-button>
    <app-value-button [value]="3"></app-value-button>
    <app-value-button [value]="'x'"></app-value-button>
  </div>
  <div class="row flex flex-right">
    <app-value-button [value]="0"></app-value-button>
    <app-calc-button></app-calc-button>
    <app-value-button [value]="'/'"></app-value-button>
  </div>
</div>
